<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Feed</title>
</head>
<body>
    <h1>Feed do Perfil</h1>

    {% include 'BarraNavegaçao.html' %}
    <!-- include -> importa um elemento único de outro arquivo -->

    <!-- criando um loop python para exibir os posts inseridos no feed por todos os usuários -->
    {% for post in fotos %}
        <a href="{{ url_for('perfil', id_user=post.id_user) }}">
            <img src="{{ url_for('static', filename='fotos_posts/{}'.format(post.img)) }}">
        </a>
    {% endfor %}

</body>
</html>