<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>FakePinterest</title>
</head>
<body>
    <h1>Meu primeiro site python</h1> 

    <!-- Gerando formulário em html -->

    <form method="post" action=""> 
    <!-- method='post' permite enviar informações (botão submit) -->
    <!-- Também devemos adicionar methods=['GET', 'POST'] como parâmetro no arquivo routes em @app.route() referênte a esta page -->

        <!-- Importando formulário criado em python -->

        {{ formulario.csrf_token }}
        <!-- Sempre quando carregarmos um formulário python em html, devemos utilizar o 'form'.csrf_token -->
        <!-- .csrf_token gera uma validação e uma segurança pro form, é uma trava de segurança pra ataques hacks -->

            <!-- Definindo campos e labels do formulário -->

            {{ formulario.email.label() }}
            {{ formulario.email() }}

            {{ formulario.senha.label() }}
            {{ formulario.senha() }}

            {{ formulario.botao() }}

    </form>

    <!-- Botão de redirecionamento para página de cadastro -->
    <a href="{{ url_for('cadastrar') }}">Ainda não tem uma conta? Cadastre-se!</a>

</body>
</html>