<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>UserName</title>
</head>
<body>

    {% include 'BarraNavegaçao.html' %}
    <!-- include -> importa um elemento único de outro arquivo -->

    <p>Perfil do usuário: {{ usuario.username }}</p>
    <!-- {{ código }} -> é um meio de usar códigos python em html-->

    {% if formulario %} <!-- Se existir formulário -->

        <form method="POST" enctype="multipart/form-data">
        <!-- method='post' permite enviar informações (botão submit) -->
        <!-- enctype="multipart/form-data" permite que receba o arquivo no form para ser armazenado -->

            {{ formulario.csrf_token}}

            {{ formulario.post() }}
            {{ formulario.botao() }}

        </form>

    {% endif %}

    <!-- criando um loop python para exibir os posts inseridos no perfil do próprio usuário -->
    {% for post in usuario.posts %}
        <img src="{{ url_for('static', filename='fotos_posts/{}'.format(post.img)) }}">
    {% endfor %}

</body>
</html>